body
{
    text-align: center;
}
#Welcome {
    color: #FFFFFF;
    bottom: 0;
    background:linear-gradient(lightblue,lightgreen,purple,blue,green);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#Bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color:goldenrod;
    width: 70px;
    margin: 8px auto;
}
#Contact iframe
{
    width: 100%;
}


#Videos iframe
{
    width: 80%;
}

.my_nav_Bar
{
    position:sticky;
    top:0;
    z-index:99999
}

#Name{
    font-size: 25px;
    font-family: 'Silkscreen', cursive;
}